<input class="id" type="hidden" value="<%- id %>">

	<img src="http://placehold.it/200x200" class="img-thumbnail">
	

<div class="title">
	    <%= title %>
	
</div>

<div class="url">
	    <%= url %>
	
</div>

<div class="tagname">
	    <%= tagname %>
</div>

<div class="description">
	    <%= description %>
</div>

<button class="btn btn-primary edit" >edit</button>
<button class="btn btn-danger destroy">remove</button>

</div>

